table, th, td {
    border: 1px solid;
    font-family: 'Star Jedi Hollow', sans-serif;
    color: yellow;
  }

#main {
  font-family: 'Star Wars', sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px yellow;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  -webkit-text-stroke-width: medium;
}

h2, h3, h5, p, label {
  font-family: 'Star Jedi Hollow', sans-serif;
  color: yellow;
}

body {
  background-image: url("images/background.jpg");
}

img {
  margin: 1em;
}

#images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 3em;

}

#vs {
  width: 250px;
}

#table {
  display: flex;
  justify-content: center;
}
