<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Days+One" />
    <title>Choose Characters</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
            <h1 id="main">Star Wars Character Comparison</h1>
            <div id="search">
                <h1>ENTER TWO NAMES TO COMPARE:</h1>
                {% if error %}
                    <h2 id="error">{{ error }}</h2>
                {% endif %}
                <form action="" method="post">
                    <label for="character1">Character #1:</label><br>
                    <input type="text" id="character1" name="character1" required><br>
                    <label for="character2">Character #2:</label><br>
                    <input type="text" id="character2" name="character2" required><br>
                    <button id="submit" type="submit">Submit</button>
                </form>
            </div>
        {% endblock %}
    </div>
</body>
</html>
