<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="../static/style.css" />
    <link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/star-jedi" rel="stylesheet">
    <script src="../static/styles.js"></script>
    <title>Compare Characters</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
            <h1 id="main">Star Wars Character Comparison</h1><br>
            <div id="images">
                <img src="../static/images/{{ images[0] }}">
                <img id="vs" src="../static/images/lightsabers.png">
                <img src="../static/images/{{ images[1] }}">
            </div>
            <div id="table">
                <table>
                    <thead>
                        <tr>
                            {% for key in characters[0].keys() %}
                                <th>{{ key }}  </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for character in characters %}
                            <tr>
                            {% for value in character.values() %}
                                <td>{{ value }}  </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h2 id="winner">The superior Star Wars character is: {{ winner }}!</h2>
        {% endblock %}
        <a type="button" href="/" id="return">Compare others</a>
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
